{% extends 'base.html.twig' %}

{% block title %}Inscription à Fix.R{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/createJournalist.css">
{% endblock %}

{% block body %}

    <div class="container">
        <h3>Devenez journaliste pour Fix.R !</h3>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Confirmer mon inscription</button>
        {{ form_end(form) }}
    </div>

{% endblock %}