{% extends 'base.html.twig' %}

{% block title %}Editez votre profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/createJournalist.css">
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modification du profil</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}

        <br>
        <br>
        <br>
        <a href="#"><button class="btn btn-danger">Changer de mot de passe</button></a>

    </div>

{% endblock %}