{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Fix.R !{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light d-block text-center">
        <a class="navbar-brand" href="#">Fix.R</a>
        <button class="btn btn-secondary my-2 my-sm-0 float-right" type="submit">S'identifier</button>
    </nav>
{% endblock %}
