.logo {
    width: 200px;
    margin: auto;
}

.logo img {
    width: 300px;
}

nav {
    background-color: transparent;
    height: 200px;
    margin-bottom: 5%;
}

.brand {
    font-size: 60px;
    color: white;
}

.fas {
    color: #cd1c1d;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.fas:hover {
    text-decoration: none;
    color: #cd1c1d;
}

.footer {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    font-size: 18px;
    text-align: center;
}

footer {
    margin-top: 5%;
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.avatar {
    max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
}

.avatar-large {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-mini {
    max-width: 28px;
    max-height: 28px;
}

body {
    background-image: url("/assets/images/journalflou.jpg");
    background-attachment: fixed;
}

