.logo {
    width: 200px;
    margin: auto;
}

.logo img {
    width: 300px;
}

nav {
    background-color: transparent;
    height: 200px;
    margin-bottom: 5%;
}

.brand {
    font-size: 60px;
    color: white;
}

.fas {
    color: #cd1c1d;
}

.fas:hover {
    text-decoration: none;
    color: #cd1c1d;
}

.footer {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    font-size: 18px;
    text-align: center;
}

footer {
    margin-top: 5%;
}