.container {
    padding: 30px 30px 55px 30px;
    margin-top: 10vh;
    width: 50%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    margin-bottom: 40px;
}

.jumbotron {
    background-color: #3d3d3d;
}

p {
    font-size: 22px;
}

.pluspetit {
    font-size: 15px;
}