.logo {
    width: 200px;
    margin: auto;
}

.logo img {
    width: 300px;
}

body {
    background-image: url("/assets/images/journalflou.jpg");
}

nav {
    background-color: transparent;
    height: 200px;
}

p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    font-size: 18px;
    text-align: center;
}

.brand {
    font-size: 60px;
    color: white;
}

.information {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    margin-top: 20vh;
    margin-bottom: 30vh;
}

.fas {
    color: white;
}

.fas:hover {
    text-decoration: none;
    color: white;
}

.connect {
    margin-top: 15vh;
}

.button {
    text-align: right;
}