body {
    background-image: url("/assets/images/journalflou.jpg");
}

.information {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.connect {
    margin-top: 15vh;
    margin-bottom: 20vh;
}

.button {
    text-align: right;
}

