.container {
    padding: 30px 30px 55px 30px;
    margin-top: 10vh;
    width: 50%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    margin-bottom: 40px;
}

body {
    background-image: url("/assets/images/journalflou.jpg");
    background-attachment: fixed;
}

.cardArticle {
    background-color: rgba(0,0,0,0.5);
}