{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/create.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block body %}

    <h3>Contacter l'équipe</h3>
<div class="container">
    {{ form_start(form) }}
    {{ form_row(form) }}
    <button type="submit" class="btn btn-secondary" name="submit">Envoyer</button>
    {{ form_end(form) }}
</div>

{% endblock %}
