<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% for label, messages in app.flashes %}
        <div class="container">
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    <p>{{ message | raw }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
        {% block body %}{% endblock %}
        <script type="text/javascript" src="/assets/js/jquery-3.3.1.slim.min.js"></script>
        <script type="text/javascript" src="/assets/js/popper.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
