<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="/public/assets/js/jquery-3.3.1.slim.min.js"></script>
        <script type="text/javascript" src="/public/assets/js/popper.min.js"></script>
        <script type="text/javascript" src="/public/assets/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
