{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/Carousel.css">
{% endblock %}


{% block body %}

    <h1>Dashboard</h1>
    <section class="carousel slide" data-ride="carousel" id="postsCarousel">
        <h2>Politique</h2>
        <div class="suiv ml-4"><a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a></div>
        <div class="prec mr-4"><a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a></div>

        <div class="container p-t-0 m-t-2 carousel-inner">
            <div class="row row-equal carousel-item active m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row row-equal carousel-item m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="carousel slide" data-ride="carousel" id="postsCarousel">
        <h2>Economie</h2>
        <div class="suiv ml-4"><a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a></div>
        <div class="prec mr-4"><a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a></div>

        <div class="container p-t-0 m-t-2 carousel-inner">
            <div class="row row-equal carousel-item active m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row row-equal carousel-item m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="carousel slide" data-ride="carousel" id="postsCarousel">
        <h2>Santé</h2>
        <div class="suiv ml-4"><a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a></div>
        <div class="prec mr-4"><a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a></div>

        <div class="container p-t-0 m-t-2 carousel-inner">
            <div class="row row-equal carousel-item active m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row row-equal carousel-item m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="carousel slide" data-ride="carousel" id="postsCarousel">
        <h2>Ecologie</h2>
        <div class="suiv ml-4"><a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a></div>
        <div class="prec mr-4"><a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a></div>

        <div class="container p-t-0 m-t-2 carousel-inner">
            <div class="row row-equal carousel-item active m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row row-equal carousel-item m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block javascripts %}
    <script>
        (function($){
            "use strict";
            $('.next').click(function(){ $('.carousel').carousel('next');return false; });
            $('.prev').click(function(){ $('.carousel').carousel('prev');return false; });
        })
        (jQuery);
    </script>
{% endblock %}