{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/Carousel.css"> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block body %}

    <h1>Dashboard</h1>

    <section class="carousel slide" data-ride="carousel" id="postsCarousel">
        <h2>Politique</h2>
        <div class="suiv"><a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a></div>
        <div class="prec"><a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a></div>

        <div class="container p-t-0 m-t-2 carousel-inner">
            <div class="row row-equal carousel-item active m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row row-equal carousel-item m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="carousel slide" data-ride="carousel" id="postsCarousel">
        <h2>Economie</h2>
        <div class="suiv"><a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a></div>
        <div class="prec"><a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a></div>

        <div class="container p-t-0 m-t-2 carousel-inner">
            <div class="row row-equal carousel-item active m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row row-equal carousel-item m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="carousel slide" data-ride="carousel" id="postsCarousel">
        <h2>Santé</h2>
        <div class="suiv"><a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a></div>
        <div class="prec"><a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a></div>

        <div class="container p-t-0 m-t-2 carousel-inner">
            <div class="row row-equal carousel-item active m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row row-equal carousel-item m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="carousel slide" data-ride="carousel" id="postsCarousel">
        <h2>Ecoligie</h2>
        <div class="suiv"><a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a></div>
        <div class="prec"><a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a></div>

        <div class="container p-t-0 m-t-2 carousel-inner">
            <div class="row row-equal carousel-item active m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row row-equal carousel-item m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="http://placehold.jp/500x350.png" alt="Carousel 1">
                        </div>
                        <div class="card-block p-t-2">
                            <div class="card-header"><h3>Titre</h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        (function($){
            "use strict";
            $('.next').click(function(){ $('.carousel').carousel('next');return false; });
            $('.prev').click(function(){ $('.carousel').carousel('prev');return false; });
        })
        (jQuery);
    </script>
{% endblock %}