{% extends 'base.html.twig' %}

{% block title %}Editer l'article{% endblock %}

{% block body %}

    <h2>Editer l'article</h2>

    {{ include('article/_form.html.twig', {'button_label': 'Editer'}) }}

{% endblock %}
